name: Deploy Backend to Render (disabled)

on:
  workflow_dispatch:

env:
  NODE_VERSION: "20"

jobs:
  deploy-backend:
    if: ${{ false }} # disabled for now
    name: Deploy to Render
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Backend
        run: npx nx build backend --configuration=production
        env:
          NODE_ENV: production

      - name: Deploy to Render
        uses: johnbeynon/render-deploy@v1.4.0
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}

